:root {
    --grey-100             :    #fbfdfe;
    --grey-200             :    #f9fafb;
    --grey-300             :    #ecf0f3;
    --grey-400             :    #b7c1c8;
    --grey-500             :    #8e9ba4;
    --grey-600             :    #687782;
    --grey-700             :    #273b49;
    --grey-800             :    #28353e;
    --grey-900             :    #192229;
    --bg-color-1           :     #F79F1F;
    --bg-color-2           :     #0652DD;
    --bg-color-3           :     #EA2027;
    --bg-color-4           :     #009432;

    --color-successful     :    #00ab66;
    --color-warning        :    #ffd200;
    --color-danger         :    #ed4337;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/*____________________________________________|  Scroll Bar  |____________________________________________*/


body::-webkit-scrollbar {
    width: .5em;
    height: .5em; 
}

body::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: .5em;
}

body::-webkit-scrollbar-track {
    background: var(--grey-900);
}

body::-webkit-scrollbar-button {
    display: none;
}


#notifications::-webkit-scrollbar {
    width: .5em;
    height: .5em; 
}

#notifications::-webkit-scrollbar-thumb {
    background: var(--grey-400);
    border-radius: .5em;
}

#notifications::-webkit-scrollbar-track {
    background: var(--grey-300);
    border-radius: .5em;
}

#notifications::-webkit-scrollbar-button {
    display: none;
}


button {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

body {
    min-height: 100vh;
    font-family: arial;
    color: var(--grey-900);
}

header {
    width: 100%;
}

header img {
    width: 100%;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background-color: var(--grey-900);
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    /* background-color: #eee; */
    padding: 3em;
}

.menu {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu li {
    text-align: center;
    min-width: 12em;
    background-color: var(--grey-900);
    color: #fff;
    padding: 1em;
    border-radius: .5em;
}

.menu li:first-child {
    margin-right: 1.5em;
}

.main-content {
    width: 100%;
    padding: 0 10% 5em;
}

/* .main-content > div {
    border: .15em solid var(--grey-900);
    border-radius: 1em;
    overflow: hidden;
} */

.container-notifications {
    padding: 3em 4em 4em;
    background-color: #fff;
    border: .15em solid var(--grey-900);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 3em;
}


.successful, .warning, .danger {
    border-radius: .5em;
    padding: 1em 2em;
}

.successful {
    background-color: rgba(0, 171, 102, .5);
}

.warning {
    background-color: rgba(255, 210, 0, .5);
}

.danger {
    background-color: rgba(237, 67, 55, .5);
}

h3 {
    margin-bottom: .5em;
}

#notifications {
    max-height: 15em;
    overflow-y: scroll;
    padding: 0 1em;
    margin-bottom: 1.5em;
}

#usersLog {
    background-color: var(--color-warning);
    padding: 2em;
    border-radius: .5em;
    margin-bottom: 1em;
}

/* .user {
} */

/* .information-box {
    border: .2em solid red;
} */

.information-box > div {
    /* background-color: var(--color-successful); */
    margin-bottom: 1em;
}

.content-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

h2 {
    color: var(--grey-900);
    text-align: center;
    margin-bottom: 1.5em;
}



.create-account, .deposit,
.transfer, .check-balance {
    width: 100%;
    padding: 5em;
    border-radius: 1em;
    overflow: hidden;
    border: .15em solid var(--grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inputs {
    display: grid;
    gap: 1.5em;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3em;
}

.check-balance .container-inputs {
    grid-template-columns: 1fr;
}



::placeholder {
    color: var(--grey-600);
}

input {
    font-size: 1em;
    /* color: var(--grey-200); */
    padding: 1em;
    border-radius: .5em;
    border: .15em solid var(--grey-900);
    background-color: inherit;
    /* border: .15em solid #fff; */
}

/* form input:not(:last-child) {
    margin-right: 1em;
} */


.container-btn {
    display: flex;
    justify-content: center;
}

.btn, button  {
    font-size: 1em;
    min-width: 10em;
    color: var(--grey-100);
    background-color: var(--grey-900);
    padding: 1em 1.5em;
    border-radius: .5em;
    cursor: pointer;
    /* border: .1em solid var(--grey-100); */
}




