/*__________________________________| Screen up to 1400px width |__________________________________*/

@media screen and (max-width: 1400px) {
    body { font-size: 14px; }


}


/*__________________________________| Screen up to 1200px width |__________________________________*/

@media screen and (max-width: 1200px) {
    body { font-size: 13px; }

    #notifications {
        max-height: 15em;
    }

    .content-forms {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5em;
    }
    
    .container-notifications {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .create-account {
        grid-column: span 1;
        grid-row: 2 / span 1;
    }

    .check-balance {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    .deposit {
        grid-column: span 1;
        grid-row: 3 / span 1;
    }
    
    .transfer {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
}



/*__________________________________| Screen up to 1024px width |__________________________________*/

@media screen and (max-width: 1024px) {
    




}



/*__________________________________| Screen up to 900px width |__________________________________*/

@media screen and (max-width: 900px) {
    body { font-size: 12px; }



    
}


/*__________________________________| Screen up to 767px width |__________________________________*/

@media screen and (max-width: 767px) {
    body { font-size: 11px; }

    #notifications {
        max-height: 15em;
    }

    .content-forms {
        display: flex;
        flex-direction: column;
    }

}



/*__________________________________| Screen up to 600px width |__________________________________*/

@media screen and (max-width: 600px) {

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}



/*__________________________________| Screen up to 480px width |__________________________________*/

@media screen and (max-width: 480px) {
    body { font-size: 10px; }


}



/*__________________________________| Screen up to 320px width |__________________________________*/
    
@media screen and (max-width: 320px) {
    body { font-size: 8px; }
     
    
}